---
---

@import "{{ site.theme }}";

.site-header {
  background: #292c2f;
  color: #a1adb8;
}

.site-nav .page-link {
  color: #4169e1;
  line-height: 1.5;
}

.site-title, .site-title:visited {
  color: #a1adb8;
}

main {
  background: #eee;
}

.site-footer {
  background: #292c2f;
}

.footer-heading {
  color: #eee;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
}
.grid-item {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border: 1px solid #444;
  border-radius: 4px;
}