---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}


    {% if site.paginate %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}


    {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    <div class="grid-container">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts reversed -%}
        <div class="grid-item" style="text-align: center;">
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <img src="{{ post.image | escape }}" height="100"/>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <p class="post-meta">Inscriptions: {{post.firstInscriptionNum }} - {{post.lastInscriptionNum}}</p>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </div>
        {% endfor %}
    </div>

    {%- endif -%}

</div>