---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}


{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}


{%- if posts.size > 0 -%}
{%- if page.list_title -%}
<h2 class="post-list-heading">{{ page.list_title }}</h2>
{%- endif -%}

<!-- search panel -->
{%- include search.html -%}

<div class="grid-container">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <div class="grid-item" style="text-align: center;">
            <a class="post-link" style="font-size: 1.3em;color: #444444;padding-top: 27px;" href="/submit-collection">
                <img src="assets/img/plus-circle-dotted.svg" height="100"/><br>
                Add New
            </a>
    </div>
    {%- for post in posts reversed -%}
    <div class="grid-item" style="text-align: center;">
        <h2>
            <a class="post-link" style="font-size: 0.3em" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}<br>
                <img src="{{ post.image | escape }}" height="100"/>
            </a>
        </h2>
        <p class="post-meta">
            Date: {{ post.date | date: date_format }}<br>
            Inscriptions: {{post.firstInscriptionNum }} - {{post.lastInscriptionNum}}<br>
            Supply: {{post.supply }}
                {% if post.lastInscriptionNum < 1000 %}
                    <span class="label label-default" style="background-color: green; color: white; border-radius: 4px; padding: 2px;">Sub 1k</span>
                {% elsif post.lastInscriptionNum < 5000  %}
                    <span class="label label-default" style="background-color: greenyellow; color: black; border-radius: 4px; padding: 2px;">Sub 5k</span>
                {% elsif post.lastInscriptionNum < 10000  %}
                    <span class="label label-default" style="background-color: yellow; color: black; border-radius: 4px; padding: 2px;">Sub 10k</span>
                {% elsif post.lastInscriptionNum < 50000  %}
                    <span class="label label-default" style="background-color: orange; color: white; border-radius: 4px; padding: 2px;">Sub 50k</span>
                {% elsif post.lastInscriptionNum < 100000  %}
                    <span class="label label-default" style="background-color: red; color: white; border-radius: 4px; padding: 2px;">Sub 100k</span>
                {% else %}
                    <span class="label label-default" style="background-color: black; color: white; border-radius: 4px; padding: 2px;">> 100k</span>
                {% endif %}
        </p>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
    </div>
    {% endfor %}
</div>

{%- endif -%}
